* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-size: 16px;
}

/* CANVAS */
#signature-pad {
  border: 2px solid #c1c1c1;
}

/* BUTTONS */
.signature-options {
  position: sticky;
  bottom: 20%;
  margin: 3rem 0;
  display: flex;
  gap: .5rem;
  justify-content: center;
}

.btn {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  padding: .5rem 1rem;
  border-radius: 4px;
}