* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: #F4F4F4;
  background-image:
      url(/images/noise.svg);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
}

/* HEADER */
header {
  position: relative;
  top: 0;
  left: 0;
}

header img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

header .logo {
  font-family: 'DN Mono', sans-serif;
  font-weight: 400;
}

header h1 {
  font-family: 'Calligraffitti', sans-serif;
  font-weight: 300;
  color: #262626;
  width: 300px;
  text-align: center;
  font-size: 2.3rem;
  transform: rotate(-2deg);
}

.header-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  align-items: center;
  flex-grow: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  mix-blend-mode: color-burn;
  z-index: 2;
}

/* CANVAS */
 #signature-pad {
   width: 100%;
   height: 100%;
   display: block;
 }

/* BUTTONS */
.signature-options {
  position: sticky;
  bottom: 20%;
  margin: 3rem 0;
  display: flex;
  gap: .5rem;
  justify-content: center;
}

.btn {
  font-family: 'DM Mono', sans-serif;
  text-transform: uppercase;
  letter-spacing: -2%;
  font-weight: 600;
  padding: .5rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow:
      0 34px 10px rgba(0, 0, 0, 0),
      0 22px 9px rgba(0, 0, 0, 0.01),
      0 12px 7px rgba(0, 0, 0, 0.05),
      0 5px 5px rgba(0, 0, 0, 0.09),
      0 1px 3px rgba(0, 0, 0, 0.1),
      0 2px 8px rgba(255, 255, 255, .3) inset;
  transition: all 0.3s;
}

#clear {
  background-color: #D7D7D7;
  color: #262626;
}

#save {
  background-color: #262626;
  color: white;
}

#clear:hover {
  background-color: #262626;
  color: white;
  transform: translateY(-2px);
}

#save:hover {
  background-color: #404040;
  transform: translateY(-2px);
}