* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: #F4F4F4;
  background-image:
      url(/images/noise.svg);
  overflow: hidden;
}

body {
  font-size: 16px;
}

/* HEADER */
header {
  position: relative;
  top: 0;
  left: 0;
}

header img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  align-items: center;
  flex-grow: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

/* CANVAS */


/* BUTTONS */
.signature-options {
  position: sticky;
  bottom: 20%;
  margin: 3rem 0;
  display: flex;
  gap: .5rem;
  justify-content: center;
}

.btn {
  font-family: 'DM Mono', sans-serif;
  text-transform: uppercase;
  letter-spacing: -2%;
  font-weight: 600;
  padding: .5rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow:
      0 34px 10px rgba(0, 0, 0, 0),
      0 22px 9px rgba(0, 0, 0, 0.01),
      0 12px 7px rgba(0, 0, 0, 0.05),
      0 5px 5px rgba(0, 0, 0, 0.09),
      0 1px 3px rgba(0, 0, 0, 0.1),
      0 2px 8px rgba(255, 255, 255, .3) inset;
}

#save, 
#clear {
  background-color: #D7D7D7;
  color: #262626;
  transition: all 0.3s;
}

#save:hover,
#clear:hover {
  background-color: #262626;
  color: white;
  box-shadow: none;
  
}