* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: #F4F4F4;
  background-image:
      url(/images/noise.svg);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
}

/* NAV */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 24px;
  padding: 20px 100px;
}

nav .logo {
  font-family: 'DN Mono', sans-serif;
  font-weight: 400;
}

.headline {
  font-family: 'Calligraffitti', sans-serif;
  font-weight: 300;
  margin: 50px 0;
  color: #262626;
  text-align: center;
  font-size: 4rem;
  transform: rotate(-2deg);
  mix-blend-mode: color-burn;
}

/* CANVAS */
 #signature-pad {
   width: 100%;
   height: 100%;
   display: block;
 }

/* BUTTONS */
.signature-options {
  font-family: 'DM Mono', sans-serif;
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 20%;
  margin: 3rem 0;
  display: flex;
  gap: 3rem;
}

.buttons {
  display: flex;
  gap: .5rem;
}

.btn {
  text-transform: uppercase;
  letter-spacing: -2%;
  font-weight: 600;
  padding: .5rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow:
      0 34px 10px rgba(0, 0, 0, 0),
      0 22px 9px rgba(0, 0, 0, 0.01),
      0 12px 7px rgba(0, 0, 0, 0.05),
      0 5px 5px rgba(0, 0, 0, 0.09),
      0 1px 3px rgba(0, 0, 0, 0.1),
      0 2px 8px rgba(255, 255, 255, .3) inset;
  transition: all 0.3s;
}

.btn-secundary {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: 2px solid #262626;
  border-radius: 8px;
  box-shadow:
      0 34px 10px rgba(0, 0, 0, 0),
      0 22px 9px rgba(0, 0, 0, 0.01),
      0 12px 7px rgba(0, 0, 0, 0.05),
      0 5px 5px rgba(0, 0, 0, 0.09),
      0 1px 3px rgba(0, 0, 0, 0.1),
      0 2px 8px rgba(255, 255, 255, .3) inset;
  transition: all 0.3s;  
}

.btn-secundary:hover {
  background-color: #262626;
  color: white;
  transform: translateY(-2px);
}

#clear {
  background-color: #D7D7D7;
  color: #262626;
}

#save {
  background-color: #262626;
  color: white;
}

#clear:hover {
  background-color: #262626;
  color: white;
  transform: translateY(-2px);
}

#save:hover {
  background-color: #404040;
  transform: translateY(-2px);
}

/*  Controls  */
.controls {
  display: flex;
  align-items: center;
  gap: .5rem;
  text-transform: uppercase;
}