* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-size: 16px;
  margin: 0 100px;
}

main {
  border: 5px solid green;
}

/* BUTTONS */
.signature-options {
  display: flex;
  gap: .5rem;
  justify-content: center;
}

.btn {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  padding: .5rem 1rem;
}